{% load static %}

<div class="container">
    <header>
        <nav class="navbar navbar-expand-lg bg-white">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'icon/icon.png' %}" alt="Logo" width="50" height="40"
                         class="d-inline-block align-text-top">
                </a>
                <div class="collapse navbar-collapse" id="navbarText">
                </div>

                <a href="#"><span class="navbar-text" style="margin-right: 10px;">Navbar</span></a>
                <a href="#"><span class="navbar-text" style="margin-right: 10px;">Navbar</span></a>
                <a href="#"><span class="navbar-text">Navbar</span></a>
            </div>

        </nav>
    </header>
</div>
